{% extends 'components/cards/card-basic.html.twig' %}

{% block card_title_inner %}
    <a href="{{ path('admin_user_edit', {'id' : entity.id}) }}">
        {{ entity.username }}
    </a>
{% endblock %}

{% block card_text_inner %}
    <ul class="list-unstyled">
        <li>{{ 'card.role.label'|trans }} {% for role in entity.roles %}
                <span> {{ role }}{% if role != loop.last %},{% endif %}</span>{% endfor %}</li>
        <li>{{ 'card.rarities.label'|trans }} {{ entity.rarities|length }}</li>
        <li>{{ 'card.tables.label'|trans }} {{ entity.tables|length }}</li>
        <li>{{ 'card.items.label'|trans }} {{ entity.items|length }}</li>
    </ul>
{% endblock %}

{% block card_footer %}
    <div class="btn-group">
        {% include 'components/actions/edit-action.html.twig' with {detailRoute: path('api_admin_user_edit', {id:entity.id})} %}
        {% include 'components/actions/delete-action.html.twig' with {route: path('admin_user_delete', {id: entity.id}), identifier: entity.username} %}
    </div>
    {{ parent() }}
{% endblock %}