{% extends 'components/cards/card-basic.html.twig' %}

{% block card_title_inner %}
    <a href="{{ path('item_edit', {id:entity.id}) }}">
        {{ entity.name }}
    </a>
{% endblock %}

{% block card_subtitle_inner %}{{ entity.parent.name }}{% endblock %}

{% block card_text %}
    {#<div class="probability">{{ (entity.probability * 100)|round(6) }}%</div>#}
    <p class="card-text">{{ entity.description|u.truncate(180, '...') }}</p>
{% endblock %}

{% block card_footer %}
    <div class="card-footer" style="background-color: {{ color }}">
        {% block card_footer_inner %}
            <p class="card-text">
                {{ entity.valueStart }}G - {{ entity.valueEnd }}G
            </p>
        {% endblock %}
    </div>
{% endblock %}