{% extends 'components/cards/card-basic.html.twig' %}

{% block card_title_inner %}
    <a href="{{ path('rarity_edit', {'id': entity.id}) }}" style="color:{{ color }}">
        {{ entity.name }}
    </a>
{% endblock %}
{% block card_title %}
    {{ parent() }}
    <div class="badge-container position-absolute">
        <div class="badge bg-primary">{{ entity.tables|length }} {{ 'card.badge.table'|trans }}</div>
        <div class="badge bg-primary">{{ entity.items|length }} {{ 'card.badge.items'|trans }}</div>
    </div>
{% endblock %}

{% block card_subtitle %}
    <div class="card-subtitle">
        {{ entity.value }}
    </div>
{% endblock %}

{% block card_text_inner %}
    {{ entity.description|u.truncate(180, '...') }}
{% endblock %}

{% block card_footer %}
    <div class="btn-group">
        {% include 'components/actions/edit-action.html.twig' with {detailRoute: path('api_rarity_edit', {id:entity.id})} %}
        {% include 'components/actions/delete-action.html.twig' with {route: path('rarity_delete', {id: entity.id}), identifier: entity.name} %}
    </div>

    <div class="card-footer" style="background-color: {{ color }}"></div>
{% endblock %}