{% extends 'components/cards/card-basic.html.twig' %}

{% block card_title %}
    <a class="card-title h3"
       href="{{ path('table_edit', {'id': entity.id}) }}">
        {{ entity.name }}
    </a>
    <aside class="badge-container">
        {% if entity.tables|length > 0 %}
            <div class="badge bg-primary">{{ entity.tables|length }} {{ 'card.badge.table'|trans }}</div>
        {% endif %}
        {% if entity.items|length > 0 %}
            <div class="badge bg-primary">{{ entity.items|length }} {{ 'card.badge.items'|trans }}</div>
        {% endif %}
    </aside>
{% endblock %}

{% block card_subtitle %}
    {# <div class="probability">{{ (entity.probability * 100)|round(6) }}%</div> #}
    <div class="card-subtitle">{% if entity.parent %}{{ entity.parent.name }}{% endif %}</div>
{% endblock %}

{% block card_text_inner %}{{ entity.description|u.truncate(180, '...') }}{% endblock %}
{% block card_footer %}
    <div class="btn-group">
        {% include 'components/actions/edit-action.html.twig' with {detailRoute: path('api_table_edit', {id:entity.id})} %}
        {% include 'components/actions/delete-action.html.twig' with {route: path('table_delete', {id: entity.id}), identifier: entity.name} %}
    </div>

    <footer class="card-footer" style="background-color: {{ color }}">
    </footer>
{% endblock %}