{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Du bist eingeloggt als {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        <h1 class="h3 mb-3 font-weight-normal">{{ 'login_headline'|trans }}</h1>
        <div class="form-group">
            <label for="inputUsername">{{ 'user.name'|trans({}, 'labels') }}</label>
            <input type="text"
                   value="{{ last_username }}"
                   name="username"
                   id="inputUsername"
                   class="form-control"
                   autocomplete="username"
                   required
                   autofocus>
        </div>
        <div class="form-group">
            <label for="inputPassword">{{ 'password.self'|trans({}, 'labels') }}</label>
            <input type="password"
                   name="password"
                   id="inputPassword"
                   class="form-control"
                   autocomplete="current-password"
                   required>
        </div>
        <label>
            <input type="checkbox" name="_remember_me">
            {{ 'rememberMe'|trans }}
        </label>
        <input class="form-control"
               type="hidden"
               name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <span><a href="{{ path('app_forgot_password_request') }}">{{ 'password.forgot'|trans({}, 'labels') }}</a></span>
        <div class="form-group mt-3">
            <button class="btn btn-lg btn-primary"
                    type="submit">
                Log In
            </button>
        </div>
    </form>
{% endblock %}
