{% extends 'base.html.twig' %}

{% trans_default_domain 'contents' %}

{% block body %}
    <section aria-labelledby="welcome">
        <h1 id="welcome">
            {{ 'homepage.welcome.title'|trans }}
        </h1>
        {{ 'homepage.welcome.content'|trans|raw }}
    </section>
    <section aria-labelledby="how-does-it-work">
        <h2 id="how-does-it-work">
            {{ 'homepage.howto.title'|trans }}
        </h2>
        {{ 'homepage.howto.content'|trans({'%item_link%': path('item_index'), '%rarity_link%': path('rarity_index'), '%table_link%': path('table_index')})|raw }}
    </section>
    <section aria-labelledby="where-to-start">
        <h2 id="where-to-start">
            {{ 'homepage.wherestart.title'|trans }}
        </h2>
        {{ 'homepage.wherestart.content'|trans({'%item_link%': path('item_index'), '%rarity_link%': path('rarity_index'), '%table_link%': path('table_index'), '%register_link%': path('app_register')})|raw }}
    </section>
    <section aria-labelledby="contact">
        <h2 id="contact">
            {{ 'homepage.contact.title'|trans|raw }}
        </h2>
        {{ 'homepage.contact.content'|trans|raw }}
    </section>
{% endblock %}
