<h1>{{ 'mail.registration_confirm.title'|trans }}</h1>

<p>
    {{ 'mail.registration_confirm.please_confirm'|trans }}<br><br>
    <a href="{{ signedUrl|raw }}">{{ 'mail.registration_confirm.button_label'|trans }}</a>.
    {{ 'mail.registration_confirm.expires_note'|trans({'%time%': expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }) }}
</p>

<p>
    {{ 'mail.registration_confirm.greetings'|trans }}
</p>
