{% block header_action %}
    {# used when linkClasses is not set #}
    {% set linkClassesDefault = "nav-link px-2" %}

    <li class="nav-item">
        {% if 'api/' in action.route %}
            <div class="{{ linkClasses|default(linkClassesDefault) }}"
                 role="button"
                 data-controller="dialog modal-loader"
                 data-action="modal-loader:loaded->dialog#showPage click->modal-loader#request"
                 data-modal-loader-route-value="{{ action.route }}"
            >
                {{ action.label }}
            </div>
        {% else %}
            <a class="{{ linkClasses|default(linkClassesDefault) }}" href="{{ action.route }}">
                {{ action.label }}
            </a>
        {% endif %}
    </li>
{% endblock %}