{% set hasActions = headerActions is defined %}

<header aria-label="{{ "section.heading"|trans }}" class="mb-3 bg-dark">
    <div class="container">
        <nav class="navbar navbar-dark navbar-expand-md border-bottom row">
            <div class="container-fluid" aria-label="{{ "section.headline.logocontainer"|trans }}">
                <a class="btn btn-primary navbar-brand" href="{{ path('app_home') }}">
                    {# <img alt="Autolooter" src="{{ asset('build/images/Autolooter-logos.jpeg') }}"
                     style="max-width: 150px; max-height: 150px;"
                > #}
                    Autolooter
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation"
                        aria-controls="navigation" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navigation">
                    <ul class="navbar-nav locale-picker">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-language" role="button"
                               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ app.request.locale|trans({}, 'flags')|raw }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right position-absolute" aria-labelledby="dropdown-language">
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_home', {_locale: 'de'}) }}">
                                        {{ 'de'|trans({}, 'flags')|raw }}
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_home', {_locale: 'en'}) }}">
                                        {{ 'en'|trans({}, 'flags')|raw }}
                                    </a>
                                </li>
                            </ul>
                        </li>

                        {% for action in headerActions.actions %}
                            {% if action.actions is defined %}
                                {% include 'components/header/action_group.html.twig' with {item:action} %}
                            {% else %}
                                {% include 'components/header/action.html.twig' %}
                            {% endif %}
                        {% endfor %}
                    </ul>

                    {% include 'components/header/user_actions.html.twig' %}
                </div>
            </div>
        </nav>
    </div>
</header>