{% block user_actions %}
    {% if app.user is not defined or app.user is null %}
        <span>
            <a href="{{ path('app_login') }}">{{ "login"|trans }}</a>
            /
            <a href="{{ path('app_register') }}">{{ "register"|trans }}</a>
        </span>
    {% else %}
        <span>
            <a href="{{ path("user_home") }}">{{ "user_home"|trans }}</a>
            /
            <a href="{{ path("app_logout") }}">{{ "logout"|trans }}</a>
        </span>
    {% endif %}
{% endblock %}