{% block user_actions %}
    <div>
        {% if app.user is not defined or app.user is null %}
            <div>
                <a href="{{ path('app_login') }}" class="btn btn-primary">
                    {{ "login"|trans }}
                </a>
                <a href="{{ path('app_register') }}" class="btn btn-secondary">
                    {{ "register"|trans }}
                </a>
            </div>
        {% else %}
            <div>
                <a href="{{ path("user_edit_self") }}" class="btn btn-primary">
                    {{ "user_home"|trans }}
                </a>
                <a href="{{ path("app_logout") }}" class="btn btn-secondary">
                    {{ "logout"|trans }}
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}