<!DOCTYPE html>
<html lang="de-DE">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Autolooter{% endblock %}</title>
    <link rel="icon"
          href="{{ asset('build/images/Autolooter-favicon.jpeg') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block header %}
    {% include 'components/header/index.html.twig' %}
{% endblock %}

<section class="container" aria-label="{{ "section.main"|trans }}">
    <div class="message-container" aria-label="{{ "section.messages"|trans }}">
        {% for label, messages in app.flashes() %}
            {% for message in messages %}
                {% include 'components/messages/flash-messages.html.twig' %}
            {% endfor %}
        {% endfor %}
    </div>
    <main>
        {% block body %}
        {% endblock %}
    </main>
</section>

<dialog id="dialog" class="card modal-dialog-centered position-fixed">
    <div id="dialog_content" class="card-body">
    </div>
    <div class="btn-group">
        <div class="btn btn-primary confirm" id="dialog_btn_confirm">{{ "dialog.ok"|trans }}</div>
        <div class="btn btn-secondary cancel" id="dialog_btn_cancel">{{ "dialog.cancel"|trans }}</div>
    </div>
</dialog>
</body>
</html>
