{% block pagination %}
    <section class="pagination row"
    >
        {% block pagination_headline %}
            <h1 class="pagination-headline col-12 text-center mb-5">
                {{ "pagination.entities_found"|trans({'%count%': maxItemsFound}) }}
            </h1>
        {% endblock %}
        {% block pagination_filter %}
            <div class="col-12" aria-label="{{ "section.pagination"|trans }}">
                <div class="pagination row align-items-center m-0"
                     data-pagination-target="paginationForm"
                >
                    {% block pagination_filter_searchbar %}
                        <div class="col-12 col-lg-6 pb-3">
                            <div class="row searchbar">
                                <div class="col-8 col-lg-10">
                                    <input name="searchTerm"
                                           type="text"
                                           placeholder="{{ "pagination.search_placeholder"|trans }}"
                                           class="form-control" {% if searchTerm %}value="{{ searchTerm }}"{% endif %}
                                           aria-label="{{ "pagination.search_placeholder"|trans }}"
                                           data-pagination-target="paginationSearchTerm"
                                    >
                                </div>
                                <div class="col-4 col-lg-2">
                                    <button class="w-100 btn btn-primary"
                                            aria-label="{{ "pagination.search"|trans }}"
                                            data-action="click->pagination#update"
                                    >
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                    {% block pagination_filter_pagesize %}
                        <div class="col-12 col-lg-6 pb-3">
                            <div class="row">
                                <div class="col-4">
                                    <select name="pageSize"
                                            class="form-select page-size"
                                            aria-label="{{ "pagination.pagesize_label"|trans }}"
                                            data-pagination-target="paginationPageSize"
                                            data-action="change->pagination#update"
                                    >
                                        {% for value in [50, 25, 10] %}
                                            <option value="{{ value }}"
                                                    {% if value == pageSize %}selected{% endif %}>{{ value }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-8">
                                    <select name="order"
                                            class="form-select page-order"
                                            aria-label="{{ "pagination.ordering"|trans }}"
                                            data-pagination-target="paginationOrder"
                                            data-action="change->pagination#update"
                                    >
                                        {% for orderOption in orderOptions %}
                                            <option value="{{ orderOption.value }}"
                                                    {% if orderOption == order %}selected{% endif %}>
                                                {{ orderOption|trans }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                    {% include 'components/pagination/pagination.html.twig' %}
                </div>
            </div>
        {% endblock %}
    </section>
{% endblock %}