{% extends 'base.html.twig' %}

{% block title %}Tabellen {% if table is defined and table.name %}- {{ table.name }}{% endif %}{% endblock %}

{% block body %}
    {% if table.parent %}
        <div class="card mb-3">
            <a class="btn btn-primary w-100"
               href="{{ path('table_edit', {'id': table.parent.id}) }}">
                {{ "path.goto.parent"|trans }} {{ table.parent.name }}
            </a>
        </div>
    {% endif %}

    {% include 'components/forms/form_basic.html.twig' %}

    <div
            class="btn btn-primary"
            data-controller="dialog modal-loader"
            data-action="modal-loader:loaded->dialog#showPage:preventDefault click->modal-loader#request"
            data-modal-loader-route-value="{{ path('api_table_move_items', {'id': table.id}) }}"
    >
        {{ 'move.items'|trans }}
    </div>

    {% if table.items|length > 0 %}
        <details class="items-container card mt-3">
            <summary class="card-title px-3 h2">
                <span>
                    {{ "card.items.label"|trans }}
                </span>
            </summary>
            <div class="card-body">
                <div class="row">
                    {% for item in table.items %}
                        {% include 'components/cards/card-item.html.twig' with {entity: item} %}
                    {% endfor %}
                </div>
            </div>
        </details>
    {% endif %}

    {% if table.tables|length > 0 %}
        <details class="table-container card mt-3">
            <summary class="card-title px-3 h2">
                <span>{{ "card.tables.label"|trans }}</span>
            </summary>
            <div class="card-body">
                <div class="row">
                    {% for table in table.tables %}
                        {% include 'components/cards/card-table.html.twig' with {entity: table} %}
                    {% endfor %}
                </div>
            </div>
        </details>
    {% endif %}
{% endblock %}
